activiti/src/main/resources/bpmn/filename.xml1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.omg.org/spec/BPMN/20100524/MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="definitions" type="mod:definitionsType" xmlns:mod="http://www.omg.org/spec/BPMN/20100524/MODEL"/>
  <xs:complexType name="processType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="isExecutable"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="definitionsType">
    <xs:sequence>
      <xs:element type="mod:processType" name="process" xmlns:mod="http://www.omg.org/spec/BPMN/20100524/MODEL"/>
      <xs:element ref="di:BPMNDiagram" xmlns:di="http://www.omg.org/spec/BPMN/20100524/DI"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="typeLanguage"/>
    <xs:attribute type="xs:string" name="expressionLanguage"/>
    <xs:attribute type="xs:string" name="targetNamespace"/>
  </xs:complexType>
</xs:schema>